<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        {% block myStylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml">
    </head>
    <body>
        {% block myBody %}{% endblock %}
        {% block myJavascripts %}{% endblock %}
    </body>
</html>
